.imgbanner{
    margin-top: 10px; 
    background-image: url();
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imgbanner h2{
    background-color: #000000ab;
    padding: 10px;
    border-radius: 25px;
}